{% extends "index.html" %}
{% load staticfiles %}
{% block content %}
  <!-- Breadcrumb Area Start -->
    <div class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url(img/bg-img/16.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content text-center">
                        <h2 class="page-title">기술스택</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="index.html">Tech</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Area End -->

    <!-- About Us Area Start -->
    <section class="roberto-about-us-area section-padding-100-0">
        <div class="container">
            {% comment %} <div class="row align-items-center"> {% endcomment %}
                
             <p>로그아웃 되었습니다.</p>
             <a href="{% url 'intro:main' %}">메인화면 가기</a>

             
            {% comment %} </div> {% endcomment %}
        </div>
    </section>
   <!-- About Us Area End -->

     <!-- Video Area Start -->
    <div class="roberto--video--area bg-img bg-overlay jarallax section-padding-0-100" style="background-image: url(img/bg-img/20.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center">
                
            </div>
        </div>
    </div>
    <!-- Video Area End -->

    <!-- Service Area Start -->
    <section class="roberto-service-area section-padding-100-0">
        <div class="container">
           
           
        </div>
    </section>
    <!-- Service Area End -->

    
{% endblock %}
