{% extends "index.html" %}
{% load static %}
{% block content %}
<style>
.form-control{
    width:40%;
    heigth:30px;
}
</style>
<br>
                <h2>로그인</h2>
                <br>
               <form action="." method="post">{% csrf_token %}
               {% if form.errors %}
               입력값이 올바르지 않습니다.
               {% endif %}
                
               <fieldset class="aligned">
               <div class="form-row" style="line-height:2.4em;">
               ID : &nbsp;<input class="form-control" type="text" name="username" autofocus="" required="" id="id_username">
               &nbsp;&nbsp;&nbsp;&nbsp;<input class="btn btn-outline-secondary btn-sm" type="submit" value="로그인"/>
               <input type="hidden" name="next" value="{{next}}"/>
               </div>
               <div class="form-row">
               PW : &nbsp;<input type="password" name="password" required="" class="form-control" id="id_password">
               
               </div>
               </fieldset>
                <br>
               
               
               
               </form>
    
{% endblock %}
