{% extends "index.html" %}
{% load static %}
{% block content %}
<style>
.form-control{
    width:40%;
    heigth:30px;
    display:inline;
}
</style>
<br>
                <h2>회원가입</h2>
                <br>
                <form action="." method="post">{% csrf_token %}
                    {% if form.errors %}
                    에러입니다. 다시 입력하세요.
                    {% endif %}
                    ID : <input type="text" name="username" maxlength="150" autofocus="" required="" id="id_username" class="form-control"><br>
                    패스워드 : <input type="password" name="password1" required="" id="id_password1" class="form-control"><br>
                    패스워드 확인 : <input type="password" name="password2" required="" id="id_password2" class="form-control"><br><br>
                    <input type="submit" class="btn btn-outline-secondary btn-sm" value="회원가입"/>
                </form>

               
  
    
{% endblock %}
