{% extends "index.html" %}
{% load staticfiles %}
{% block content %}
<br>
<h2 class="page-title">자기소개서</h2>
<br>

{% for object in object_list%}
<div class="alert" style="border:0.2px solid #bcbcbc;">
<details open="open"><summary><strong><span class="h5">{{object.question}}</span></strong></summary>
<hr>
<p>Traditional heading elements are designed to work best in the meat of your page content. When you need a heading to stand out, consider using a display heading—a larger, slightly more opinionated heading style. Keep in mind these headings are not responsive by default, but it’s possible to enable responsive font sizes.
</p></details>
</div>
{% endfor %}
{% endblock %}
