{% extends "index.html" %}
{% load staticfiles %}
{% block content %}
<style type="text/css">
th{
	width:10%;
}
</style>
<br>
<h2 class="page-title"><a href="{{object.link}}" >{{object.name}}</a></h2>
<br>
                <table class="table table-hover ">
  
  <tbody>
    <tr>
      <th class="text-break">기술스택</th>
      <td class="text-break">
        {% for tech in object.techs.all %}
          <a href="{% url 'intro:project_tech' tech.name%}">{{tech.name}}</a>
        {% endfor %}
      </td>
    </tr>
    <tr>
      <th class="text-break">설명</th>
      <td class="text-break">{{object.description}}</td>
      
    </tr>
    <tr>
      <th class="text-break">git page</th>
      <td class="text-break"><a href="{{object.git_addr}}">{{object.git_addr}}</a></td>
      
    </tr>
  </tbody>
</table>
                
{% endblock %}
