{% extends "index.html" %}
{% load static %}
{% block content %}
<style>
  .container{
    margin-left:0;
    padding-left:0;
  }
  .full-name{
    font-family: 'Lato', sans-serif;
  }
  .first-name{
    font-weight:700;
  }
  .last-name{
    font-weight:300;
  }
  .info{
    color:#999
  }
  .position {
    font-weight: bold;
    display: inline-block;
    margin-right: 10px;
    text-decoration: underline;
  }
  .section__title {
    letter-spacing: 2px;
    color: #54AFE4;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  .name{
    font-weight:bold;
  } 
</style>
{% for object in object_list%}
<br>
<div class="container">
  <div class="header">
	  <img src="{{object.image.url}}"/>
    <div class="full-name">
      <h2>
      {{object.name}}
      </h2>
    </div>
    <div class="contact-info">
    <span class="info">나이 </span>
      <span class="email-val">{{object.age}}</span> &nbsp;&nbsp; <span class="info"> | </span> &nbsp;&nbsp;
      <span class="info">이메일 </span>
      <span class="email-val">{{object.email}}</span> <br>
      <span class="info">Git </span>
      <span class="email-val">{{object.git_addr}}</span> &nbsp;&nbsp;<span class="info"> | </span> &nbsp;&nbsp;
      <span class="info">연락처 </span>
      <span class="email-val">{{object.phone}}</span> <br>
      <span class="info">취미 </span>
      <span class="email-val">{{object.hobby}}</span> &nbsp;&nbsp;<span class="info"> | </span> &nbsp;&nbsp;
      <span class="info">병역 </span>
      <span class="email-val">{{object.military_service}}</span>
    </div>
    <br>
    <div class="about">
      <span class="position">{{object.job_objective}}</span>
      <span class="desc">
        3년간 영진전문대학에서 컴퓨터정보를 전공하였고 1년간 네트워크 서버 구축/유지보수를 했습니다. 컴퓨터공학으로 학점은행제 학사를 취득하였고 그 과정에서 자바, C, 자바스크립트, jsp, 안드로이드 등을 배웠지만 파이썬이 여러방면에서 가장 낫다고 생각하여 독학으로 공부하였습니다.
      </span>
    </div>
  </div>
  <br>
      <div class="section__title">학력</div>
        <div class="section__list-item">
	{% for edu in object.educations.all %}
	<div class="name">{{edu.name}}</div>
	<div class="desc">{{edu.study_period}}</div>
          <br>
	  {% endfor %}
        </div>
<br><br>
<div class="section__title">경력</div>
        <div class="section__list-item">
	{% for work in object.work_experiences.all %}
	<div class="name">{{work.name}}</div>
	<div class="addr">{{work.position}} / {{work.department}}</div>
	<div>{{work.responsibilities}}</div>
	<div class="duration">{{work.employment_period}}</div>
          <br>
	  {% endfor %}
        </div>
<br><br>
<div class="section__title">자격증</div>
        <div class="section__list-item">
	{% for qual in object.qualifications.all %}
	<div class="name">{{qual.name}}</div>
	<div class="addr">{{qual.issuer}}</div>
	<div class="duration">{{qual.issue_date}}</div>
          <br>
	  {% endfor %}
        </div>

<br>
{% endfor %}
{% endblock%}
    
