{% extends "index.html" %}
{% load staticfiles %}
{% block content %}
<br>
<h2 class="page-title">{{tech}}로 만들어진 프로젝트</h2>
<br>
<table class="table table-bordered">
        <thead>
                <tr>
                        <th scope="col">프로젝트명</th>
                        <th scope="col">사용된기술</th>
      
                </tr>
        </thead>
        <tbody>
                {% for object in object_list%}
                <tr>
                        <th scope="row"><a href="{{object.get_absolute_url}}">{{object.name}}</a> </th>
                        <td>
                                {% for tech in object.techs.all%}
                                        {{tech.name}}
                                {% endfor %}
                        </td>
                </tr>
                {% endfor %}
        </tbody>
</table>
{% endblock %}
